* {
    margin: 0;
    padding: 0;
  }
 body {
    margin-right: 5%;
    margin-left: 5%;
  }
  .navbar{
    border-bottom: solid 7px #C10F19;
    margin-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .navbar-nav .nav-link {
    color: #3135A0;
  }
  /* Cambiar el color del texto del enlace activo */
 .nav-link:hover {
    color: #C10F19;
  }
  .navbar-brand{
    width: 18rem;
    height: 9rem;
  }
  .icon-nav {
    margin-right: 1rem;
  }
img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius:100px !important;
  }
  
  img.btn-whatsapp:hover{
  border-radius:100px !important;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
  -moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
  transition-duration: 1s;
  } 

 footer{
  background-color: #3135A0; 
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
 }
 
 .cardfooter{
  background-color: #3135A0;
  text-align: center;
  display: inline-block;
  max-width: 100%; 
  height: auto;
  padding:20px;
 }

 .cardfooter h5{
  text-align: center;
  
 }
 .cardfooter p{
  text-align: center;
 }

 @media only screen and (min-width: 1200px) {
  body {
    margin-right: 15rem;
    margin-left: 15rem;
  }
  
 };
 
